@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.04),
      transparent 40%
    ),
    linear-gradient(to bottom right, #0f172a, #000000);
  color: #e5e7eb;
}

